* {
  padding: 0px;
  margin: 0px;
}

body {
  position: relative;
}
.container {
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 3%;
  right: 10%;
  border-radius: 5px;
  background-color: #a78bfa;
  color: #2c3e50;
  padding: 10px 15px;
  width: 20%;
  z-index: 1;
}

.container.info {
  color: #2196F3; 
}

.container.created {
  color: #4CAF50; 
}

.container.error {
  color: #f44336; 
}

.container.warning {
  color: #ff9800;
}
