.carousel {
  text-align: center;
  padding: 20px;
}

.products-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.products {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
}

.product-card {
  margin: 10px;
  padding: 20px;
  width: 350px;
  border-radius: 5px;
  background: #a187f0;
  border:1px solid #ffffffff;
}

h2 {
  font-size: 40px;
    color: #2c3e50;
  margin: 5px;
}
.product-card h3 {
  margin: 3px;
  color: white;
}

.product-card p {
  margin: 3px;
  color: white;
}

.product-card img {
  width: 100%;
  border-radius: 5px;
}

.btn-arrow {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.btn-arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.prev::before {
  content: "<";
}

.next::before {
  content: ">";
}

.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #a78bfa;
  cursor: pointer;
}

.dot.active {
  background-color: #a78bfa;
}
