.view-cart-btn {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.model-container {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}

.model-content {
  position: relative;
  color: #000;
  background-color: aliceblue;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  padding: 3rem;
  width: 35rem;
  height: fit-content;
}
.model-heading{
  display: flex;
  justify-content: space-between;
}
.model-heading button,.delete-btn{
  background-color: rgb(255, 67, 67);
  height: fit-content;
}
.model-heading button:hover,.delete-btn:hover{
  background-color: red;
}