.faq-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: "Playwrite HU", cursive;
  font-weight: 900;
}

.faq-item {
  border: 1px solid #ccc;
  padding: 15px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: background-color 0.2s;
}

.faq-item:hover {
  background-color: #e0f7fa;
}

.faq-question {
  margin: 0;
  font-size: 18px;
}

.faq-answer {
  margin-top: 10px;
  color: #333;
}
