.header {
  display: flex;
  justify-content: space-between;
  background-color: #cbc0eb;
  color: #2c3e50;
  width: 88vw;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  padding-right: 15rem;
  font-size: 2rem;
  font-weight: 600;
}
.header > span {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header > span > span {
  font-size: 1.2rem;
  margin: 1rem;
}
